<div class="col-xl-3 col-lg-4 col-sm-6 bookmark" id=<%= "bookmark-#{bookmark.id}" %>> 
  <div class="card mb-2">
    <% if bookmark.thumbnail? %>
      <a  href="<%= bookmark.url %>" target="blank">
        <%= image_tag(bookmark.thumbnail_url(:display), class: 'card-img-top', alt: bookmark.name) %>
      </a>
      <p class="overlay-name">
        <%= bookmark.name %>
      </p>
      <div class="overlay-name backdrop"></div>
    <% else %>
      <a href="<%= bookmark.url %>" class="thumbnail no-thumb" target="blank">
        <p class="text-center"> <%= bookmark.name %></p>
        <p class="text-center small">no thumbnail available</p>
      </a>
    <% end %>
    <% if current_user.id == bookmark.user_id %>
      <div class="overlay-links p-2 left" >
        <%= link_to edit_bookmark_path(bookmark), data: {remote: true, toggle: "modal", target: "#myModal", bookmark_name: bookmark.name}, class: 'btn btn-secondary rounded-circle border-white' do %>
          <%= fa_icon 'pencil' %>
        <% end %>
      </div>
      <div class="overlay-links p-2 right">
        <%= link_to bookmark_path(bookmark), method: :delete, class: 'btn btn-secondary rounded-circle border-white', data: { confirm: 'Are you sure?', remote: true } do %>
          <%= fa_icon 'times' %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>